// FONTS
$base-font-family: arial, sans-serif;
$base-font-size: 16px;

// INPUTS
$input-padding: 16px;

// BREAKPOINTS
$mobile-bp: 576px;
$tablet-bp: 768px;
$notebook-bp: 992px;
$desktop-bp: 1300px;

// CONTAINER
$mobile-width: 100%;
$tablet-width: 740px;
$notebook-width: 960px;
$desktop-width: 1280px;
