section.intro
    .container.intro__content
        .swiper.js-intro__slider.intro__slider
            .intro__items.swiper-wrapper
                .intro__item.swiper-slide
                    .intro__text
                        span.intro__sale_description Суперскидка до 60%
                        h1.intro__sale_on НА БРИЛЛИАНТЫ
                        button.intro__sale_action Подробнее
                    picture.intro__img
                            source(srcset='img/content/intro/ring@1x.png 1x, img/content/intro/ring@2x.png 2x')
                            img(src='img/intro/ring@1x.png' srcset='img/intro/ring@2x.png' alt='Кольцо')
                .intro__item.swiper-slide
                    .intro__text
                        span.intro__sale_description Суперскидка до 60%
                        h1.intro__sale_on НА КОЛЬЕ
                        button.intro__sale_action Подробнее
                    .intro__img
                        img(src='img/content/intro/necklace.png' height='548px')
            .js-intro__nav_left.intro__nav_left.intro__nav_item
                img(src='./svg/sprite.svg#arrow-slider-active')
            .js-intro__nav_right.intro__nav_right.intro__nav_item
                img(src='./svg/sprite.svg#arrow-slider-active')
            .intro__pagination.swiper-pagination
