.articles {
  margin-top: 60px;
  @include desktop {
    margin-top: 120px;
  }

  &__content {
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    @include desktop {
      padding: 0;
    }
  }

  &__title {
    color: #303030;
    font-weight: 400;
    font-size: 28px;
    font-family: Prata, serif;
    font-style: normal;
    line-height: 100%;
    @include desktop {
      font-size: 40px;
    }
  }

  &__more {
    display: flex;
    gap: 12px;
    align-items: center;

    &--text {
      color: #303030;
      font-weight: 500;
      font-size: 14px;
      font-family: Inter, sans-serif;
      font-style: normal;
      line-height: 100%;
      text-transform: uppercase;
    }

    &--arrow {
      width: 26px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 20px;
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
    @include desktop {
      grid-template-columns: repeat(4, 1fr);
      margin-top: 40px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding: 6px;
    row-gap: 11px;

    &:hover {
      background-color: #F8F8F8;
    }
  }

  &__img {
    img {
      width: 100%;
    }
  }

  &__date {
    color: #8F8F8F;
    font-weight: 400;
    font-size: 14px;
    font-family: Inter, sans-serif;
    font-style: normal;
    line-height: 100%;
  }

  &__name {
    color: #303030;
    font-weight: 500;
    font-size: 16px;
    font-family: Inter, sans-serif;
    font-style: normal;
    line-height: 100%;
  }
}
