@import "../common/vars";
@import "../common/mixins";

.container {
  max-width: $mobile-width;
  margin: 0 auto;
  padding: 16px;

  @include tablet {
    max-width: $tablet-width;
  }

  @include notebook {
    max-width: $notebook-width;
  }

  @include desktop {
    max-width: $desktop-width;
  }
}
