.intro {
  &__content {
  }

  &__slider {
    position: relative;
  }

  &__items {
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 126px;
    background-image: url('svg/sprite.svg#intro-crystall');
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
  }

  &__sale_description {
    color: #303030;
    font-weight: 400;
    font-size: 20px;
    font-family: Prata, serif;
    line-height: 100%;
  }

  &__sale_on {
    margin-top: 30px;
    margin-bottom: 54px;
    color: #303030;
    font-weight: 400;
    font-size: 50px;
    font-family: Prata, serif;
    font-style: normal;
    line-height: 100%;
  }

  &__sale_action {
    width: 200px;
    padding: 20px 0;
    color: #FFF;
    font-weight: 500;
    font-size: 14px;
    background: #303030;
    @extend .btn;
  }

  &__ing {
    padding-right: 36px;
    height: 548px;
  }

  &__nav_item {
    position: absolute;
    top: 50%;
    z-index: 2;
    width: 54px;
    border: none;
    outline: none;
    transform: translateY(-50%);
    cursor: pointer;
  }

  &__nav_left {
    left: 24px;
  }

  &__nav_right {
    right: 24px;

    img {
      rotate: 180deg;
    }
  }

  &__pagination {
  }
}
