.pc {
  margin-top: 120px;

  &__content {
  }

  &__title {
    color: #303030;
    font-weight: 400;
    font-size: 40px;
    font-family: Prata, serif;
    font-style: normal;
    line-height: 100%;
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    height: 259px;
    background-color: #F8F8F8;

    &:hover {
      background-color: #fff;
    }
  }

  &__img {
  }

  &__name {
    width: 139px;
    color: #303030;
    font-weight: 400;
    font-size: 16px;
    font-family: Inter, sans-serif;
    font-style: normal;
    line-height: 100%;
    text-align: center;
  }
}
