.sale {
  margin-top: 120px;

  &__content {
  }

  &__header {
  }

  &__title {
    color: #303030;
    font-weight: 400;
    font-size: 40px;
    font-family: Prata, serif;
    font-style: normal;
    line-height: 100%;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;

    &--tabs {
      display: flex;
      gap: 8px;
    }

    &--item {
      padding: 13px 30px;
      color: #303030;
      font-weight: 400;
      font-size: 14px;
      font-family: Inter, sans-serif;
      line-height: 100%;
      background: #F0F0F0;
      border-radius: 21px;

      &._active{
        color: #fff;
        background-color: #303030;
      }
    }

    &--arrows {
      display: flex;
      align-items: center;

      img {
        width: 54px;
        height: 54px;
      }

      :nth-child(2) {
        img {
          rotate: 180deg;
        }
      }
    }

    &--arrow {
      background-color: transparent;
      border: none;
      outline: none;
    }
  }
}
