.sale {
  margin-top: 60px;
  @include desktop {
    margin-top: 120px;
  }

  &__content {
  }

  &__header {
    padding: 0 8px;
    @include desktop{
      padding: 0;
    }
  }

  &__title {
    color: #303030;
    font-weight: 400;
    font-size:28px;
    font-family: Prata, serif;
    font-style: normal;
    line-height: 100%;
    @include desktop{
      font-size: 40px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;

    &--tabs {
      display: flex;
      gap: 8px;
      overflow-x: auto;
    }

    &--item {
      padding: 13px 30px;
      color: #303030;
      font-weight: 400;
      font-size: 14px;
      font-family: Inter, sans-serif;
      line-height: 100%;
      background: #F0F0F0;
      border-radius: 21px;

      &._active {
        color: #fff;
        background-color: #303030;
      }
    }

    &--arrows {
      display: flex;
      align-items: center;

      img {
        width: 54px;
        height: 54px;
      }

      :nth-child(2) {
        img {
          rotate: 180deg;
        }
      }
    }

    &--arrow {
      background-color: transparent;
      border: none;
      outline: none;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 36px;
    @include notebook{
      grid-template-columns: repeat(4, 1fr);
    }
    @include desktop{
      grid-template-rows: 370px;
      gap: 20px;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
    border: 1px solid #F0F0F0;
    @include desktop{
      padding: 40px 24px 26px;
    }
  }

  &__sale {
    position: absolute;
    top: 16px;
    left: 24px;
    z-index: 3;
    padding: 4px 11px;
    color: #FFF;
    font-weight: 500;
    font-size: 13px;
    font-family: Inter, sans-serif;
    font-style: normal;
    line-height: 100%;
    background: #5B8A8F;
    border-radius: 15px;
  }

  &__favorite {
    position: absolute;
    top: 19px;
    right: 22px;
    z-index: 3;
    cursor: pointer;
  }

  &__eyes {
    position: absolute;
    top: 52px;
    right: 22px;
    z-index: 3;
    cursor: pointer;
  }

  &__img {
    &.swiper {
      width: 130px;
      @include desktop{
        width: 200px;
      }

      &-wrapper {
        width: 100px;
      }
    }

    & .sale__pagination {
      bottom: 6px;
    }
  }


  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 26px;

    :first-child {
      display: flex;
      flex-direction: column;
      gap: 8px;
      @include desktop{
        flex-direction: row;
        align-items: center;
      }
    }
  }

  &__current_price {
    color: #303030;
    font-weight: 600;
    font-size: 18px;
    font-family: Inter;
    font-style: normal;
    line-height: 100%;
  }

  &__old_price {
    color: #8F8F8F;
    font-weight: 400;
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    line-height: 100%;
    text-decoration-line: line-through;
  }

  &__sale_size {
    padding: 4px 8px;
    color: #FFF;
    font-weight: 500;
    font-size: 13px;
    font-family: Inter;
    line-height: 100%;
    background: #E24B33;
    border-radius: 15px;
  }

  &__name {
    margin-top: 16px;
    color: #303030;
    font-weight: 400;
    font-size: 14px;
    font-family: Inter;
    line-height: 160%;
  }
}
