.menu._hidden.js-menu
    .menu__overlay.js-menu__overlay
        .menu__content.js-menu__content
            each val in ['Каталог', 'Акции', 'Бренды', 'Магазины', 'О нас', 'Оплата и доставка', 'Статьи']
                a(href='#').menu__item.js-menu__item= val
