extend ./layout/layout

block title
    title Goldy Store

block header
    include components/header

block main
    include sections/index/intro
    include sections/index/popular-categories
    include sections/index/sale
    include sections/index/articles

block footer
